 .banner{
     
     /* border: 1px solid red; */
     height: 1080px;
     position: relative;
     background-image: url("./images/child.jpg"),linear-gradient(90deg, rgba(19,47,255,1) 0%, rgba(17,222,255,1) 100%);
     background-repeat: no-repeat;
     background-size: 700px, 700px 640px;
     background-position-x: 10%, 15% ;
     background-position-y: 35%, 45% ;


 }
 .navpart{
    
 }
 .navpart nav{
    display: flex;
    flex-direction: row;
 }
 .navpart nav img{

    height:100px;
    /* border: 1px solid red; */
 }
 .navpart nav ul{
     position: absolute;
     /* border: 1px solid red; */
     vertical-align: top;
     display: flex;
     flex-direction: row;
     justify-content: center;
     left: 40%;
}
.navpart nav ul li{
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding: 20px 0px;
}
.navpart nav ul li a{
    text-decoration: none;
    padding: 30px 30px;
    color: black;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.navpart nav ul li a:hover{
    background-color:blue;
    color: white;
    border: 3px solid yellow;
    border-radius: 5px;
    text-decoration: underline;
    transition-delay: 0.3s;
}
.banner .who{
    position: relative;
    
}
.banner .who h1{
    position: absolute;
    left: 50%;
    font-size: 55pt;
    font-weight: bold;
    font-weight: bolder;
    margin-top: 10px;
    color: blue;    
    font-family: 'Oswald', sans-serif;
}
.banner .who p{
    position: absolute;
    top: 310px;
    left: 50%;
    font-family: 'Oswald', sans-serif;
    font-size: 15pt;
}
.banner .boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 580px;
    left: 45%;
    
}
.banner .boxes .book{
    width:200px;
    height: 200px;
    /* border: 1px solid red; */
    background-color: blue;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color:white;
   
}
.banner .boxes .book img{
    padding-top: 30px;
}
.banner .boxes .phy{
    width:200px;
    height: 200px;
    /* border: 1px solid red; */
    background-color: red;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color:white;  
}
.banner .boxes .phy img{
    padding-top: 30px;
}
.banner .boxes .prac{
    width:200px;
    height: 200px;
    /* border: 1px solid red; */
    background-color: purple;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color:white;
   
}
.banner .boxes .prac img{
    padding-top: 30px;
}
.banner .boxes .games{
    width:200px;
    height: 200px;
    /* border: 1px solid red; */
    background-color: green;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color:white;

}
.banner .boxes .games img{
    padding-top: 30px;
   
}

/* start paragraph 1 */

.para{
    height: 400px;
    position: relative;
    color: white;
    background-color: rgb(25, 189, 230);
    
}
.para h3{
    position: absolute;
    top: 20%;
    left: 30%;
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    margin: 0;
    
}
.para .line{
    position: absolute;
    top: 35%;
    left: 30%;
    border: 5px solid white;
    width: 100px;
}
.para p{
    position: absolute;
    top: 30%;
    width: 40%;
    left: 38%;
    font-family: 'Oswald', sans-serif;
}


/* start about */
.about{
    font-family: 'Oswald', sans-serif;
    border: 1px solid red;
    padding: 10px;
    
}
.about .top{
    text-align: center;
    margin: 50px;

}
.about .top p{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.about .top h3{
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    margin: 0;
}
.about .gallery{
    display: flex;
    justify-content: center;
}
.about .gallery .logos{
    height: 100px;
    padding-top: 10px;

}
.about .gallery h3,p{
    display: block;
    margin-left: 10px;
}
.about .gallery a{
    display: inline-block;
    padding-bottom: 10px;
}
.about .left{  
    /* border: 1px solid red ; */
    width: 300px;
    margin-right: 10px;
}

.about .gallery .left .boy{
    width: 300px;
    height: 400px;
}
.about .gallery .left .h3{
    font-size: 18pt;
    
}

.about .right{
    /* border: 1px solid red ; */
    margin-right: 10px;
    width: 300px;
    height:700px;
}
.about .right .girl{
    width: 300px;
    height: 400px;
}
.about .kid{
    /* border: 1px solid red ; */
    margin-right: 10px;
    height:700px;
}
.about .kid img{
    height:700px;
}
/* start features  */
.features{
    text-align: center;
    background-color: rgb(248, 175, 85);
    height: 700px;
}
.features .key{}
.features .key p{
    font-family: 'Oswald', sans-serif;
    padding-top: 30px;
    margin: 0;
    color: white;
    font-weight: bold;
}
.features .key h3{
    font-family: 'Oswald', sans-serif;
    font-size: 25pt;
    margin: 0;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
}
.features .types{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.features .env{
    width: 300px;
    height: 400px;
    /* border: 1px solid red; */
    padding: 15px;
    margin-right: 30px;
    background-color: #fff;
}
.features .env img{
    height: 120px;
    padding-top: 20px;
}
.features .env h4{
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    margin: 0;
    text-transform: uppercase;
    color:rgb(25, 90, 90);
    padding-top: 25px;
}
.features .env p{
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;
    font-style: italic;
    color: #33334d;
    padding-top: 30px;

}
.features .active{
    width: 300px;
    height: 400px;
    /* border: 1px solid red; */
    padding: 15px;
    margin-right: 30px;
    background-color: #fff;
}
.features .active img{
    height: 120px;
    padding-top: 20px;
}
.features .active h4{
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    margin: 0;
    text-transform: uppercase;
    color: tomato;
    padding-top: 25px;
}
.features .active p{
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;
    font-style: italic;
    color: #33334d;
    padding-top: 30px;
}
.features .cre{
    width: 300px;
    height: 400px;
    /* border: 1px solid red; */
    padding: 15px;
    margin-right: 30px;
    background-color: #fff;
}
.features .cre img{
    height: 120px;
    padding-top: 20px;
}
.features .cre h4{
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    margin: 0;
    text-transform: uppercase;
    color: purple;
    padding-top: 25px;
}
.features .cre p{
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;
    font-style: italic;
    color: #33334d;
    padding-top: 30px;

}
.features .qual{
    width: 300px;
    height: 400px;
    /* border: 1px solid red; */
    padding: 15px;
    margin-right: 30px;
    background-color: #fff;
}
.features .qual img{
    height: 120px;
    padding-top: 20px;
}
.features .qual h4{
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    margin: 0;
    padding-top: 25px;
    text-transform: uppercase;
    color: rgb(20, 54, 206);
    
}
.features .qual p{
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;
    font-style: italic;
    color: #33334d;
    padding-top: 30px;

}
/* innovation start */
.innov{
    display: flex;
    flex-direction: row;
    position: relative;

}
.innov .im img:first-child{
    width: 500px;
    position: absolute;
    left: 30%;
    top: 40%;
    z-index: 1;
}
.innov .im img:nth-child(2){
    width: 600px;
    position: absolute;
}

.innov .meth{
    width: 500px;
    height: 600px;
    margin-left: 60%;
    margin-top: 100px;
}
.innov .meth h3{
    font-family: 'Oswald', sans-serif;
    font-size: 25pt;
    color: rgb(85, 85, 240);
}
.innov .meth p{
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
}
.innov .meth a{
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
    text-decoration: none;
    color:#ff66b3;
}
/* how we do it start */
.how{
    text-align: left;
    height: 350px;
    background-color: rgb(29, 86, 211);
    color: white;
}
.how h3{
    font-family: 'Oswald', sans-serif;
    padding-top:50px;
    margin-left: 250px;
    font-size: 24pt;
    margin-bottom: 0px;
    
}
.how .left{
    margin-left: 250px;
    display:inline-block;
    width: 400px;
}
.how .left p{
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
    margin-top: 0px;
}
.how .Right{
    margin-left: 50px;
    display:inline-block;
    width: 400px;
}
.how .Right p{
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
  
}
/* start col */
.col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}
.col .address{
    width: 250px;
   
    text-align: center;
    margin-right: 170px;
}
.col .address img{
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-top: 60px;
}
.col .address address{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
}
.col .number{
    
    text-align: center;
    width: 250px;
    margin-right: 170px;
}
.col .number img{
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-top: 60px;
}
.col .number address{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
}
.col .mail{
    
    text-align: center;
    width: 250px;
}
.col .mail img{
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-top: 60px;
}
.col .mail address{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;

}


/* footer start */
footer{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    background-color:#ff66b3;
    
}
footer .one{
    height: 300px;
    background-color:#ff66b3;
    padding-bottom: 20px;
   
}
footer .one .headline{
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

footer .one .headline .h{
    padding-right: 300px;
    margin-top: 130px;
    color: white;
  
}
footer .one .headline .m{
    margin-top: 130px;
    color: white;
}
footer .one .headline h5{
    font-size: 14pt;
    margin: 0;
}
footer .one .headline p{
    margin: 0;
}
footer .img{
    text-align: center;
    padding-top: 45px;
}
footer .face{
    padding-top: 15px;
    height: 40px;
}
footer .two{
    text-align: center;
    height: 100px;
    background-color: #33334d;
    margin-top: 0px;
}
footer .two p{
    color:white;
}
footer .two a{
    color:#ff66b3;
}
footer .two p{
    color:white;
    padding-top: 40px;
}