 .banner{
     
     /* border: 1px solid red; */
     height: 1080px;
     position: relative;
     background-image: url("./images/child.jpg"),linear-gradient(90deg, rgba(19,47,255,1) 0%, rgba(17,222,255,1) 100%);
     background-repeat: no-repeat;
     background-size: 700px, 700px 640px;
     background-position-x: 10%, 15% ;
     background-position-y: 35%, 45% ;


 }
 .navpart{
    
 }
 .navpart nav{
    display: flex;
    flex-direction: row;
 }
 .navpart nav img{

    height:100px;
    /* border: 1px solid red; */
 }
 .navpart nav ul{
     position: absolute;
     /* border: 1px solid red; */
     vertical-align: top;
     display: flex;
     flex-direction: row;
     justify-content: center;
     left: 40%;
}
.navpart nav ul li{
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding: 20px 0px;
}
.navpart nav ul li a{
    text-decoration: none;
    padding: 0px 30px;
    color: black;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.navpart nav ul li a:hover{
    color: blue;
}
.banner .who{
    position: relative;
    
}
.banner .who h1{
    position: absolute;
    left: 50%;
    font-size: 55pt;
    font-weight: bold;
    font-weight: bolder;
    margin-top: 10px;
    color: blue;    
    font-family: 'Oswald', sans-serif;
}
.banner .who p{
    position: absolute;
    top: 310px;
    left: 50%;
    font-family: 'Oswald', sans-serif;
    font-size: 15pt;
}
.banner .boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 580px;
    left: 45%;
    
}
.banner .boxes .book{
    width:150px;
    height: 150px;
    /* border: 1px solid red; */
    background-color: blue;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color:white;
   
}
.banner .boxes .book img{
    padding-top: 10px;
}
.banner .boxes .phy{
    width:150px;
    height: 150px;
    /* border: 1px solid red; */
    background-color: red;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color:white;  
}
.banner .boxes .phy img{
    padding-top: 10px;
}
.banner .boxes .prac{
    width:150px;
    height: 150px;
    /* border: 1px solid red; */
    background-color: purple;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color:white;
   
}
.banner .boxes .prac img{
    padding-top: 10px;
}
.banner .boxes .games{
    width:150px;
    height: 150px;
    /* border: 1px solid red; */
    background-color: green;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color:white;

}
.banner .boxes .games img{
    padding-top: 10px;
   
}

/* start paragraph 1 */

.para{
    height: 400px;
    position: relative;
    color: white;
    background-color: rgb(25, 189, 230);
    
}
.para h3{
    position: absolute;
    top: 20%;
    left: 30%;
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    margin: 0;
    
}
.para .line{
    position: absolute;
    top: 35%;
    left: 30%;
    border: 5px solid white;
    width: 100px;
}
.para p{
    position: absolute;
    top: 30%;
    width: 40%;
    left: 38%;
    font-family: 'Oswald', sans-serif;
}


/* start about */
.about{
    text-align: center;
    width: 400px;
    margin: auto;
    border: 1px solid red;
    padding: 10px;
}
.about .top{

}
.about .top p{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.about .top h3{
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    margin: 0;
}
.about .left{

}
.about .right{

}
.about .kid{

}
.about .kid img{

}
/* start features  */
.features{}
.features .key{}
.features .key p{
    font-family: 'Oswald', sans-serif;
}
.features .env{}
.features .env h4{
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    margin: 0;
    
}
.features .env p{
    font-family: 'Oswald', sans-serif;

}
.features .active{}
.features .active h4{
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    margin: 0;
    
}
.features .active p{
    font-family: 'Oswald', sans-scre
}
.features .cre{}
.features .cre h4{
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    margin: 0;
    
}
.features .cre p{
    font-family: 'Oswald', sans-serif;

}
.features .qual{}
.features .qual h4{
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    margin: 0;
    
}
.features .qual p{
    font-family: 'Oswald', sans-serif;

}
/* innovation start */
.innov{}
.innov .meth{}
.innov .meth h3{
    font-family: 'Oswald', sans-serif;
    font-size: 25pt;
}
.innov .meth p{
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
}
/* how we do it start */
.how{
    text-align: left;
    height: 350px;
    background-color: rgb(29, 86, 211);
    color: white;
}
.how h3{
    font-family: 'Oswald', sans-serif;
    padding-top:50px;
    margin-left: 250px;
    font-size: 24pt;
    margin-bottom: 0px;
    
}
.how .left{
    margin-left: 250px;
    display:inline-block;
    width: 400px;
}
.how .left p{
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
    margin-top: 0px;
}
.how .Right{
    margin-left: 50px;
    display:inline-block;
    width: 400px;
}
.how .Right p{
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
  
}
/* start col */
.col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}
.col .address{
    width: 250px;
   
    text-align: center;
    margin-right: 170px;
}
.col .address img{
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-top: 60px;
}
.col .address address{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
}
.col .number{
    
    text-align: center;
    width: 250px;
    margin-right: 170px;
}
.col .number img{
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-top: 60px;
}
.col .number address{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
}
.col .mail{
    
    text-align: center;
    width: 250px;
}
.col .mail img{
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-top: 60px;
}
.col .mail address{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;

}


/* footer start */
footer{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    background-color:#ff66b3;
    
}
footer .one{
    height: 300px;
    background-color:#ff66b3;
    padding-bottom: 20px;
   
}
footer .one .headline{
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

footer .one .headline .h{
    padding-right: 300px;
    margin-top: 130px;
    color: white;
  
}
footer .one .headline .m{
    margin-top: 130px;
    color: white;
}
footer .one .headline h5{
    font-size: 14pt;
    margin: 0;
}
footer .one .headline p{
    margin: 0;
}
footer .img{
    text-align: center;
    padding-top: 45px;
}
footer .face{
    padding-top: 15px;
    height: 40px;
}
footer .two{
    text-align: center;
    height: 100px;
    background-color: #33334d;
    margin-top: 0px;
}
footer .two p{
    color:white;
}
footer .two a{
    color:#ff66b3;
}
footer .two p{
    color:white;
    padding-top: 40px;
}