 .banner{
     
     /* border: 1px solid red; */
     height: 700px;
     position: relative;
     background-image: url("./images/child.jpg"),linear-gradient(90deg, rgba(19,47,255,1) 0%, rgba(17,222,255,1) 100%);
     background-repeat: no-repeat;
     background-size: 400px, 400px 340px;
     background-position-x: 20%, 22% ;
     background-position-y: 55%, 75% ;


 }
 .navpart{
    
 }
 .navpart nav{
    display: flex;
    flex-direction: row;
 }
 .navpart nav img{

    height:100px;
    /* border: 1px solid red; */
 }
 .navpart nav ul{
     position: absolute;
     /* border: 1px solid red; */
     vertical-align: top;
     display: flex;
     flex-direction: row;
     justify-content: center;
     left: 40%;
}
.navpart nav ul li{
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding: 20px 0px;
}
.navpart nav ul li a{
    text-decoration: none;
    padding: 0px 30px;
    color: black;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.navpart nav ul li a:hover{
    color: blue;
}
.banner .who{
    position: relative;
    
}
.banner .who h1{
    position: absolute;
    left: 50%;
    font-size: 55pt;
    font-weight: bold;
    font-weight: bolder;
    margin-top: 10px;
    color: blue;    
    font-family: 'Oswald', sans-serif;
}
.banner .who p{
    position: absolute;
    top: 310px;
    left: 50%;
    font-family: 'Oswald', sans-serif;
    font-size: 15pt;
}
.banner .boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 480px;
    left: 35%;
    
}
.banner .boxes .book{
    width:150px;
    height: 150px;
    /* border: 1px solid red; */
    background-color: blue;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color:white;
   
}
.banner .boxes .book img{
    padding-top: 10px;
}
.banner .boxes .phy{
    width:150px;
    height: 150px;
    /* border: 1px solid red; */
    background-color: red;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color:white;  
}
.banner .boxes .phy img{
    padding-top: 10px;
}
.banner .boxes .prac{
    width:150px;
    height: 150px;
    /* border: 1px solid red; */
    background-color: purple;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color:white;
   
}
.banner .boxes .prac img{
    padding-top: 10px;
}
.banner .boxes .games{
    width:150px;
    height: 150px;
    /* border: 1px solid red; */
    background-color: green;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color:white;

}
.banner .boxes .games img{
    padding-top: 10px;
   
}

/* start paragraph 1 */

.para{
    height: 400px;
    position: relative;
    color: white;
    background-color: rgb(25, 189, 230);
    
}
.para h3{
    position: absolute;
    top: 20%;
    left: 30%;
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    margin: 0;
    
}
.para .line{
    position: absolute;
    top: 35%;
    left: 30%;
    border: 5px solid white;
    width: 100px;
}
.para p{
    position: absolute;
    top: 30%;
    width: 40%;
    left: 38%;
    font-family: 'Oswald', sans-serif;
}


/* start about */
.about{
    width: 600px;
}
.about .top{

}
.about .top p{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.about .top h3{
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    margin: 0;
}
.about .left{

}
.about .right{

}
.about .kid{

}
.about .kid img{

}
/* start features  */
.features{}
.features .key{}
.features .key p{
    font-family: 'Oswald', sans-serif;
}
.features .env{}
.features .env h4{
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    margin: 0;
    
}
.features .env p{
    font-family: 'Oswald', sans-serif;
}
/* innovation start */
.innov{}
.innov .meth{}
.innov .meth h3{
    font-family: 'Oswald', sans-serif;
}
.innov .meth p{
    font-family: 'Oswald', sans-serif;
}
/* how we do it start */
.how{}
.how h3{
    font-family: 'Oswald', sans-serif;
}
.how .left{}
.how .left p{
    font-family: 'Oswald', sans-serif;
}
.how .Right{}
.how .Right p{
    font-family: 'Oswald', sans-serif;
}
/* start col */
.col{}
.col .adress{}
.col .adress img{}
.col .adress address{
    font-family: 'Oswald', sans-serif;
}

/* footer start */
footer{
    font-family: 'Oswald', sans-serif;
}
footer .one{
    
}